@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding-bottom: 173px;
}

.about__title {
  color: #fff;
  margin: 0 0 0 0;
  padding: 100px 0 0 80px;
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
}

.about__content {
  max-width: 660px;
  padding: 119px 80px 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.about__paragraph {
  color: #fff;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 0;
}

.about__circle {
  height: 426px;
  width: 426px;
  border-radius: 50%;
  background-color: #2d80ed;
  position: absolute;
  top: -152px;
  left: -129px;
  right: 0;
  bottom: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s infinite ease-in-out;
}
