.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  color: #fff;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  padding-top: 24px;
  color: #fff;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 0;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.recipes__iframe {
  border: none;
  height: 273px;
  width: 488px;
}

.recipes__video-caption {
  color: #fff;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 0;
}
